# Frontend AWS Configuration Example
VITE_AWS_REGION=ap-south-1
VITE_COGNITO_USER_POOL_ID=ap-south-1_EtqP8T35c
VITE_COGNITO_CLIENT_ID=8ubr2bs69koakql1cpl85nc5b
VITE_API_BASE_URL=https://sofhfh3jm8.execute-api.ap-south-1.amazonaws.com
