# AWS IoT Core configuration
# DO NOT put private keys or certificate contents in this file.

AWS_IOT_ENDPOINT=a3sssai20yw40p-ats.iot.ap-south-1.amazonaws.com
AWS_IOT_CLIENT_ID=health-adherence-device
AWS_IOT_CERT_PATH=certs/26781763086e5e900056e5e56045bff216c4fd297b30eb6ed73241042e3a072a-certificate.pem.crt
AWS_IOT_PRIVATE_KEY_PATH=certs/26781763086e5e900056e5e56045bff216c4fd297b30eb6ed73241042e3a072a-private.pem.key
AWS_IOT_ROOT_CA_PATH=certs/AmazonRootCA1.pem

AWS_IOT_TOPIC=health-adherence/telemetry